[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
pydantic = "*"
python-dotenv = "*"
pandas = "*"
pandas-stubs = "*"
streamlit = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"

[scripts]
check = "mypy ./src ./tests main.py main_streamlit.py"
start = "python main.py"
test = "pytest --cov=src --cov-report=html"
